html{
  scroll-behavior: smooth;
}
a {
color:#fff;
}

body {
  font-family:  "Hiragino Kaku Gothic ProN",;
  margin: 0; /* 要素の外側の余白を0に定義 */
  padding: 0; /* 要素の内側の余白を0に定義 */
  color:#fff;
  background-color: #231b2e;
  line-height: 40px;
  font-size: 23px;
}

li {
  list-style: none;
  /* floatプロパティをleftにしてください */
  float:left;
  padding:33px 30px 33px 30px;
  font-size: 20px;

}
.header {
  background-color: #2f5167;
  color: #fff;
  height: 90px;
}

.main{
  text-align:center;
  clear: both;
  padding: 20px 80px;

}


.box1{
  padding: 0px 50px 40px 50pxx;
  width: 100%;
}
/* header-logoの文字の大きさを36px、floatプロパティをleftにしてください */
.header-logo{
  font-size:28px;
  float:left;
  padding:25px 40px 20px 20px;
}

.im {
          float: left;
          width: 47%; /* 要素の幅を50%に定義 */
          text-align:center;
          /* background-color: #343a40; */
          /* position:relative; */
          /* right: 50px; */
}
.about {
          float: right;
          /* clear: both; */
          width: 50%; /* 要素の幅を50%に定義 */
          text-align:left;
          margin-right:30px;
          background-color: #343a40;
          /* position:relative; */
          /* bottom: 280px; */
          /* right: 50px; */
}

.box2{
  padding:10px 40px;
  background-color: #343a40;
  margin-bottom:15px;
  margin-right:50px;
  margin-left:50px;
}


.box{
  padding:10px 40px;
  background-color: #343a40;
  margin-right:50px;
  margin-left:50px;
  margin-bottom:15px;
  color:#8c9ba8;
}
.box h2{
  font-size: 30px;
  color:#fff;
}


.h2{
  font-size: 30px;
}
